.container
    .row
        .col-md-6.col-md-offset-3
            alert(ng-if="config.error" type="config.error.type" title="config.error.title" message="config.error.message")
            form.config__form(ng-submit="config.submit()")
                label(for="apiKey") Enable OpenexchangeRates currency tracking
                    input.config__apikey(id="apiKey" type="checkbox" ng-model="config.enable.OER" placeholder="Specify API key")
                input.form-control.config__apikey.animated(ng-class="{'fadeInDown' : config.enable.OER}" ng-if="config.enable.OER" type="text" ng-model="config.apiKey")
                label(for="config__ecb") Enable Ecb.europa.eu currency tracking
                    input(id="config__ecb" type="checkbox" ng-model="config.enable.EXF")
                label(for="config__app") Enable Appspot currency tracking
                    input(id="config__app" type="checkbox" ng-model="config.enable.APP" )
                label.config__appbase(for="config__appbase" ng-if="config.enable.APP" ) Relative appspot value
                    input.config__base.form-control.animated(id="config__appbase" ng-class="{'fadeInDown' : config.enable.APP}" type="text" ng-model="config.baseValue" maxlength="3")
                button(type="submit").btn.btn-success.config__submit Submit
