.container
    .row
        .col-md-6.col-md-offset-3
            form(ng-submit="config.submit()")
                label Currency
                    input.config__base(type="text" ng-model="config.baseValue" maxlength="3")
                label.animated.fadeIn(for="apiKey") Yes,I want to specify my own OpenExchangeRates API key
                    input(id="apiKey" type="checkbox" ng-model="config.options.OER.enable")
                input.form-control.config__apikey.animated(ng-class="{'fadeInDown' : config.options.OER.enable}" ng-if="config.options.OER.enable" type="text" ng-model="config.apiKey")
                label Enable EXF currency tracking
                    input(type="checkbox" ng-model="config.options.EXF.enable")
                label Enable OER currency tracking
                    input(type="checkbox" ng-model="config.options.APP.enable")

                button.btn.btn-success.config__submit Submit