@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}