@import './vendor/normalize.scss'
@import './vendor/mixins'
@import './vendor/default'
@import './fonts'

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

body
  font-family: 'OpenSans-Regular'

li
  list-style: none
  display: inline-block

a
  display: block
  padding: 5px 10px
  text-decoration: none
  color: black
  font-size: 18px
  transition: 0.5s
  &:hover
    color: black
input
  display: block
  width: 200px
  margin: 20px 0
  outline: none

input[type="checkbox"]
  display: inline-block
  width: 40px
  margin: 0

.active

.alert
  display: block
  background: darkorange
  width: 200px
  height: 50px
  text-align: center
  margin: 0 auto
  color: white
  &-hidden
    visibility: hidden