body
  background: #2C3E50
li
  list-style: none

a
  text-decoration: none
  color: white

input[type="text"]
  display: block
  width: 200px
  margin: 20px 0

.active
  border: 1px solid white
button
  display: inline-block
  padding: 0 10px
  outline: none
  background: mediumpurple
  height: 30px
  text-align: center
  line-height: 30px
  border: none
  font-size: 18px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.alert
  display: block
  background: darkorange
  width: 200px
  height: 50px
  text-align: center
  margin: 0 auto
  color: white
  &-hidden
    visibility: hidden
