.container
    h1 Login!
    form(ng-submit="login.submit()")
        input(type="email" ng-model="login.user.email")
        input(type="password" ng-model="login.user.password")
        button.btn.btn-primary Login
    div(class="animated alert" ng-class="{'fadeInDown': login.alert.show,'fadeOut': !login.alert.show, 'alert-hidden': !login.alert.hasBeenShown}" ng-cloak)
        div {{login.alert.title}}
        div {{login.alert.message}}