.container
    h1 Register!
    form(ng-submit="register.submit()")
        input(type="email" ng-model="register.email")
        input(type="password" ng-model="register.password")
        button Register here!