.container
    h1 Register!
    form(ng-submit="register.submit()")
        input(type="email" ng-model="register.user.email")
        input(type="password" ng-model="register.user.password")
        button.btn.btn-success Register here!