.container
    .row
        .col-md-12
            button.btn(ng-class="{'btn-success':!currency.subscription,'btn-danger':currency.subscription}" ng-click="currency.toggle()") {{currency.message}}
            hr
            h4(ng-if="currency.edit") Edit
            input.currency__relative(ng-model="currency.selectedCopy" type="text" maxlength="3")
            button.btn.btn-success(ng-if="!currency.edit" ng-click="currency.find()") Find
            button.btn.btn-danger(ng-if="currency.edit" ng-click="currency.cancel()") Cancel
            button.btn.btn-success(ng-if="currency.edit" ng-click="currency.save()") Save
            alert(ng-if="currency.error" type="currency.error.type" title="currency.error.title" message="currency.error.message")
            table.table.table-striped
                tr
                    th Delete
                    th Relative
                    th(ng-if="currency.OER != null") OER
                    th(ng-if="currency.EXF != null") EXF
                    th(ng-if="currency.APP != null") APP
                tr(ng-repeat="rel in currency.testGlobal track by $index | orderBy : 'rel.relative'")
                    td
                        button(ng-click="currency.delete(rel)") Delete
                    td(ng-click="currency.select(rel.relative)") {{rel.relative}}
                    td(ng-if="currency.OER != null") {{rel.OER}}
                    td(ng-if="currency.EXF != null") {{rel.EXF}}
                    td(ng-if="currency.APP != null") {{rel.APP}}