.container
    .row
        .col-md-12
            h1 Server status
            button.btn.btn-success Get Currency
            div(ng-repeat="curr in currency.xml") {{curr.currency}} {{curr.rate}}
            table
                tr
                    th one
                    th two
                    th three
                tr
                    td asdasdasd
                    td asdasdasd
                    td asdasdasd
