.container
    h1 Server status
    button Get Currency
    div {{currency.data[1][0][$][currency]}}

    //div(class="animated alert" ng-class="{'fadeIn': currency.alert.show,'fadeOut': !currency.alert.show, 'alert-hidden': !currency.alert.hasBeenShown}" ng-cloak)
    //    div {{currency.alert.title}}
    //    div {{currency.alert.message}}
    //div {{currency.data[2] | json}}
    //div {{currency.data[0] | json}}

