.currency
  &__relative
    max-width: 50px
    display: inline-block
    text-align: center
    vertical-align: middle
    height: 32px
  &__find
    margin-left: 20px
    height: 32px
    display: inline-block
    vertical-align: middle
  &__relativeTable
    width: 50px
  &__deleteTable
    width: 30px

.loader
  position: relative
  top: -50px
  right: 40px
  transform: scale(0.7,0.7)
  margin-bottom: 100px
  float: right
