.currency
  &__relative
    max-width: 40px
    display: inline-block
    text-align: center
    margin-bottom: 20px
  &__find
    display: inline-block
    margin-left: 20px
    margin-bottom: 20px
  &__relativeTable
    width: 50px
  &__deleteTable
    width: 30px
